/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.rent-title {
    border-bottom: 3px solid #0094ff;
}

.spacing {
    min-height: 3rem;
}

.rent-item {
    border-bottom: 2px solid #efe6e6;
    /*border-top: 1px solid #5f5d5d;*/
}

.items {
    margin: 1rem;
}

    .items div {
        margin: 2rem .4rem;
    }

.rent-item .control-label {
    color: #aba6a6;
    font-size: 1.2rem;
    padding-bottom: .4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.item-remove {
    color: #d44242 !important;
    padding-top: 3.2rem !important;
    font-size: 1.5rem !important;
    cursor: pointer;
}

.data-rent {
    margin: 0.8rem 0;
}

.home-banner {
    object-fit: cover;
    height: 40rem;
}

    .home-banner img {
        object-fit: cover;
        
    }
